#work{
    margin-top: 75px;
}
.disp{
    background:linear-gradient(rgb(184, 97, 97),rgb(182, 33, 33),rgb(83, 3, 3),rgb(206, 24, 24))
}
.disp img{
    width:100%;
    height: 300px;
}
.effect{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.overlay_work{
    width: 100%;
    height: 100%;
    top: .1px;
    opacity: .7;
    text-align: center;
    position: absolute;
    transition:.5 ease;
    display: none;
}
.overlay_work p{
    position: relative;
    top: 35%;
}
.overlay_work a{
    position: relative;
    top: 35%;
}
.effect:hover .overlay_work{
    display: block;
    background-color: rgba(34, 33, 33, 0.774);
}